# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.env
backend/.env

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
package-lock.json

# Build
dist/
build/

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Others
.pytest_cache/
coverage/
