services:
  - type: web
    name: trecker-backend
    env: python
    plan: free
    buildCommand: pip install --upgrade pip && pip install --no-cache-dir -r backend/requirements.txt
    startCommand: gunicorn -k uvicorn.workers.UvicornWorker backend.app:app --bind 0.0.0.0:$PORT --workers 1
    envVars: []
    mounts: []
